body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Josefin Sans";
  background-color: #f1f0f4;
}
/*first calss is made for the header container*/
.Body__Container {
  padding: 3% 3% 3% 3%;
  background-image: url("images/bg-mobile-light.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Container__Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/*title*/
.Header__Title {
  color: #ffffff;
  letter-spacing: 16px;
}
/*them toggle for colors and images*/
.Dark {
  background-color: #181824;
  color: #e6e6e6;
}
.Dark .Body__Container {
  background-image: url("images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
}
/*theme toggle for button*/
.Icon-Sun {
  content: url("images/icon-sun.svg");
  height: 26px;
  background-repeat: no-repeat;
  width: 26px;
}
/*theme toggle for button*/
.Icon-Moon {
  content: url("images/icon-moon.svg");
  height: 26px;
  background-repeat: no-repeat;
  width: 26px;
}
.Dark .Input__Layput[id="myInput"] {
  background-color: #25273c;
  border: transparent;
}
.Input__Layout {
  padding: 20px;
  font-size: 16px;
  outline-color: transparent;
  padding-left: 34px;
  width: 100%;
  align-self: center;
  white-space: nowrap;
}
.Dark .Input__Layout {
  background-color: #25273c;
  color: white;
}
.List__Layout {
  width: 40%;
  position: absolute;
  list-style-type: none;
  padding: 0%;
}
/* Style the input */
.Li_Layout {
  padding: 26px 26px 26px 26px;
  /* color: black;*/
  background: #ffffff;
  font-size: 18px;
  padding-left: 36px;
  margin-bottom: 3px;
  user-select: none;
}
.lined {
  text-decoration: line-through;
}
.Dark .Li_Layout {
  color: #ffffff;
  background-color: #25273c;
}
/* Style the "Add" button */
.Add__Button {
  cursor: pointer;
  border-radius: 50px;
  height: 22px;
  width: 22px;
  position: absolute;
  border-color: #f1f0f4;
  border-style: solid;
  left: 3px;
  image-rendering: pixelated;
  align-self: center;
}
.Dark .Add__Button {
  background-color: #25273c;
  border-color: #2f3146;
}
.Add__Button:active {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  content: url("images/icon-check.svg");
  align-content: center;
}
.Todo__Layout {
  display: flex;
  position: relative;
  width: 40%;
  margin-inline: auto;
}
.Unl__Layout {
  display: flex;
  position: relative;
  margin-inline: auto;
  align-items: center;
  flex-direction: column;
}
.Del__Btn {
  content: url("images/icon-cross.svg");
  position: absolute;
  right: 5px;
  cursor: pointer;
}
.Chk__Btn {
  border-radius: 50px;
  height: 20px;
  width: 20px;
  position: absolute;
  border-color: #f1f0f4;
  border-style: solid;
  left: 3px;
  align-self: center;
  cursor: pointer;
}
.Dark .Chk__Btn {
  border-color: #2f3146;
}
.clicked {
  content: url("images/icon-check.svg");
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

/* a query for desktop*/
@media screen and (min-width: 1024px) {
  .Dark .Body__Container {
    background-image: url("images/bg-desktop-dark.jpg");
  }
  .Body__Container {
    background-image: url("images/bg-desktop-light.jpg");
  }
  .Add__Button:hover {
    background: linear-gradient(
      135deg,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );
    content: url("images/icon-check.svg");
  }
}
