body {
  margin:0;
}
/*first calss is made for the header container*/
.Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 3% 10% 3%;
  background-image: url("images/bg-mobile-light.jpg");
  background-size: 100% 100%;
 
  background-repeat: no-repeat;
}
/*title*/
.Container__Title {
  color: #ffffff;
}
/*footer*/
.Attribution {
  font-size: 11px;
  text-align: center;
}
.Attribution a {
  color: hsl(224, 45%, 44%);
}
/*them toggle for colors and images*/
.Dark{
  background-color: hsl(235, 21%, 11%);
  color: #e6e6e6;
}
.Dark .Container{
  
  background-image: url("images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
}
/*theme toggle for button*/
.Icon-Sun {
  content: url("images/icon-sun.svg");
  height: 26px;
  background-repeat: no-repeat;
  width: 26px;
}/*theme toggle for button*/
.Icon-Moon {
  content: url("images/icon-moon.svg");
  height: 26px;
  background-repeat: no-repeat;
  width: 26px;
}

.Dark Input[id="myInput"] {
  background-color: #25273c;
  color: white;
}
.Container__Text {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex-flow: column nowrap;
}

/* a query for desktop*/
@media screen and (min-width: 1024px) {
.Dark .Container {
  background-image: url("images/bg-desktop-dark.jpg");
}
  .Container{
    background-image: url("images/bg-desktop-light.jpg");
  }
}
